<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Inscription - MonEtab</title>
</head>
<body>

<section class="inscription" >
<div class="container">
    
    <form action="" method="POST">
        {% csrf_token %}
        <h2><i class="fas fa-pencil-alt"></i>Inscription</h2>
        <div class="form-group">
            <label for="telephone">Identifiant :</label>
         <input type="identifiant" id="identifiant" name="identifiant" placeholder="Entrez votre identifiant" required>

        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>
        </div>
        <div class="form-group">
            <input type="submit" value="S'inscrire">
            <a href="{% url 'connexion:signin' %}"><i class="fas fa-sign-out-alt" style="color: rgb(248, 59, 75);"></i> Connectez-vous ici</a></li>
        </div>
    </form>
</div>
</section>

</body>
</html>
