<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professeurs - MonEtab</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/prof.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="container">
            <h1><i class="fas fa-pencil-alt"></i>MonEtab</h1>
            <ul>
                <li><a href="{% url 'dashboard:dashboard' %}" ><i class="fas fa-tachometer-alt" style="color: rgb(248, 59, 75);"></i> Dashboard</a></li>
                <li><a href="{% url 'eleve:elevelist' %}" ><i class="fas fa-book-reader" style="color: rgb(248, 59, 75);"></i> Students</a></li>
                <li><a href="{% url 'prof:proflist' %}"><i class="fas fa-chalkboard-teacher" style="color: rgb(248, 59, 75);"></i> Professors</a></li>
                <li><a href="{% url 'utilisateur:listutilisateur' %}"><i class="fas fa-user" style="color: rgb(248, 59, 75);"></i> Users</a></li>
                <li><a href="{% url 'rapport:rapport' %}" ><i class="fas fa-file-alt" style="color: rgb(248, 59, 75);"></i> Report</a></li>
                <li><a href="{% url 'school:listschool' %}"><i class="fas fa-graduation-cap" style="color: rgb(248, 59, 75);"></i> Settings School</a></li>
                <li><a href="{% url 'adress:adresslist' %}" class="active"><i class="fas fa-map-marker-alt" style="color: rgb(248, 59, 75);"></i> Adress</a></li>
                <li><a href="{% url 'school:settinglist' %}"><i class="fas fa-cog" style="color: rgb(248, 59, 75);"></i> Settings App</a></li>
                <li><a href="{% url 'connexion:logout' %}"><i class="fas fa-sign-out-alt" style="color: rgb(248, 59, 75);"></i> Logout</a></li>
            </ul>
        </div>
    </header>

    <div class="main-container">
        <div class="main">
            <div class="table-container">
                <h2>Informations sur les Adresses</h2>
                <li><a href="{% url 'adress:addadress' %}" style="color: rgb(72, 71, 71);"><i class="fas fa-plus-circle" ></i> Ajouter l'adresse d'un professeur </a></li>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Adresses</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for adress in address %}
                        <tr>
                            <td>{{adress.country}}, {{adress.street}}, {{adress.city}} </td>
                            
                            <td><a href="{% url 'adress:modifieradress' adress.id%}" class="modifier" >Modifier</a><a href="{% url 'adress:supprimeradress' adress.id%}" class="supprimer" onclick="return confirmerSuppression();">Supprimer</a></td>
                        </tr>

                        {% endfor %}
                        <!-- Ajouter d'autres lignes pour plus d'artisans -->
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function confirmerSuppression() {
        var confirmation = confirm("Êtes-vous sûr de vouloir supprimer cet élément ?");
        if (confirmation) {
            alert("L'élément a été supprimé.");
            return true; // Continuez avec l'action de suppression si confirmée
        } else {
            return false; // Annulez l'action si la suppression est refusée
        }
    }
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
