{% extends "utilisateurs/base.html" %}
{% load crispy_forms_tags %}
{% block title %} <title>MonEtab - Ajouter un Role</title> {% endblock %}
{% block nav %}
            <ul>
                <li><a href="{% url 'dashboard:dashboard' %}" ><i class="fas fa-tachometer-alt" style="color: rgb(248, 59, 75);"></i> Dashboard</a></li>
                <li><a href="{% url 'eleve:elevelist' %}" ><i class="fas fa-book-reader" style="color: rgb(248, 59, 75);"></i> Students</a></li>
                <li><a href="{% url 'prof:proflist' %}"><i class="fas fa-chalkboard-teacher" style="color: rgb(248, 59, 75);"></i> Professors</a></li>
                <li><a href="{% url 'utilisateur:listutilisateur' %}" class="active"><i class="fas fa-user" style="color: rgb(248, 59, 75);"></i> Users</a></li>
                <li><a href="{% url 'rapport:rapport' %}" ><i class="fas fa-file-alt" style="color: rgb(248, 59, 75);"></i> Report</a></li>
                <li><a href="{% url 'school:listschool' %}"><i class="fas fa-graduation-cap" style="color: rgb(248, 59, 75);"></i>Settings School</a></li>
                <li><a href="{% url 'adress:adresslist' %}"><i class="fas fa-map-marker-alt" style="color: rgb(248, 59, 75);"></i> Adress</a></li>
                <li><a href="{% url 'school:settinglist' %}"><i class="fas fa-cog" style="color: rgb(248, 59, 75);"></i> Settings App</a></li>
                <li><a href="{% url 'connexion:logout' %}"><i class="fas fa-sign-out-alt" style="color: rgb(248, 59, 75);"></i> Logout</a></li>
            </ul>
            {% endblock %}
{% block titre %} <h2 class="titre"> Ajouter un Role</h2> {% endblock %}
{% csrf_token %}
            
           {% block form %} {{formrole | crispy}} {% endblock %}